# https://docs.gitlab.com/user/profile/personal_access_tokens/
# https://gitlab.com/-/user_settings/personal_access_tokens/
GITLAB_TOKEN= # <GitLab Private Access token >
GITLAB_GROUP_ID= # <GitLab GROUP_ID to apply to>
